
.nav-item{
    color: azure;
}

.image{
    background-color: rgb(13, 13, 14);
    padding: 0%;
}
.navbar{
    background-color: rgb(13, 13, 14);
}
.nav-link{
    color: azure;
}
.del, .hsl , #explore{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2%;
    
    color: azure;
  }
  #explore{
      width: 140px;
      height: ;
      padding: 0%;
      background-color: #34B6DD;
      display: flex;
    align-items: center;
    justify-content: center;
    
      
      
  }
  .box{
    background-color: rgb(13, 13, 14);
    flex: 3;
    width: 40%;
    
  }
 .main{
     display: flex;
     flex-direction: row;
     
     
 }
 #loved{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  color: azure;

 }

.containerr{
    display: flex;
    
    
}
.product{
    background-color: #0f0f0f;
    width: 100%;
    color: azure;
    border-bottom: rgb(141, 141, 185);
    

}
.pro{
    margin-left: 8%;
    margin-top: 10%;
    font-size: 20px;
}

.touch{
    margin-left: 8%;
    margin-bottom: 10%;
}
.lorem {
    width: 50%;
    margin-left: 8%;
}
.uct{
    border-bottom-style: solid; 
    border-bottom-width: 2px; 
    border-color: #dbd7d7;

}

@media (min-width: 576px) { 
    .containerr{
      
    }
    
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

